# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

/Java_run

.DS_Store
.txt

/Java/out
/Java/.idea

/Python/.vscode
/Python/test.py

/C++/틀.cpp
/C++/CMakeLists.txt
/C++/.idea/
/C++/cmake-build-debug/

PS.code-workspace