# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# MacOS
.DS_Store

# JetBrains
.idea/
out/
cmake-build-debug/
# CMakeLists.txt

# visual studio code
.vscode/
PS.code-workspace

# Else
*.txt
/Java_run
/C++/틀.cpp
/Python/test.py